<h2>Review <strong><%= @restaurant.name %></strong></h2>
<%= simple_form_for [@restaurant, @review] do |f| %>
  <%= f.input :content, placeholder: "tell us about your experience here..." %>
  <%= f.input :rating, placeholder: "out of 5" %>
  <%= f.submit "submit review", class: "btn btn-primary" %>
<% end %>
